

.footer-copyright, .container {
 display: none; 
}
.page-footer .footer-copyright {
    background-color: transparent;
}

.footer {
    position: sticky; 
    z-index: 0;
    bottom: 0px; 
    background-color: #D78618;
}

.copyright {
    z-index: 1; 
    color: #f7f7f7; 
    position: absolute; 
    top: calc(92vh + 20px);
    margin-left: 200px;
  
}